@font-face {
    font-family: NeueHaasUnica;
    src: url(../fonts/NeueHaasUnicaPro.otf);
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu.otf);
}

body {
  font-family: 'NeueHaasUnica';
  letter-spacing:0.05rem;
  font-size: 1rem;
  color: #000;
}
header {
  margin-top:1rem;
  margin-bottom:1rem;
}

main {
  margin-top:4rem;
  margin-bottom: 4rem;
}

main.grid-nospace {
  margin-top:0;
   -moz-transition: opacity 4s; /* Firefox */
    -webkit-transition: opacity 4s; /* Safari and Chrome */
    -o-transition: opacity 4s; /* Opera */
    transition: opacity 4s;
}

h1, h2 {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  /*margin: 0;*/
  /*padding: 0;*/
  font-size: 1rem;
}

h3 {
  font-family: 'NeueHaasUnica';
  font-size: 1.5rem;
  padding-bottom:1rem;
}

.project-title, .default-title {
  font-family: 'Helvetica Neue';
}

figure {
  margin: 0;
}

img, video, iframe {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  margin-bottom: 0;
}

a {
  color: #6F7F8D;
  border-bottom: 0.1rem solid;
}

a:hover {
  color: #222;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 960px) {
  .project-body p, .project-body ul, .project-body h1, .project-body h2, .project-body h3 {
    padding-left: 10rem !important;
    padding: 3rem 3rem 0rem 3rem;
    font-size: 1.5rem;
    text-align: left;
  }
  .project-title, .meta.cf {
    font-size: 1.5rem;
    padding-left: 9rem;
  }
}


@media screen and (max-width: 580px) {
  .project-body p, .project-body ul, .project-body h1, .project-body h2, .project-body h3 {
    padding-left:1rem !important;
    padding: 3rem 2rem 0rem 3rem;
    font-size: 1rem;
    text-align: left;
  }
  .project-title, .meta.cf {
    font-size: 1rem;
    padding-left: 0rem;
  }
}

.project-body p, .project-body ul, .project-body h1, .project-body h2, .project-body h3, .colophon {
  padding-left: 50%;
}

.project-body li {
  list-style-type: disc;
}

ul {
  margin-left: 0;
}

#header-nav {
  margin: 0;
  letter-spacing: 1px;
}

#header-nav li {
  display: inline-block;
  margin-right: 2rem;
}

#splash {
  background: url('/content/home/ClearBeach.jpg') bottom center;
  background-size: cover;
  background-position: 0% 50%;
}

#splash-content {
  padding: 4rem 0;
  /*margin-bottom: 2rem;*/
  font-weight: 900;
  font-size: 1.5rem;
  line-height:2.75rem;

}

#splash-content #jacobs {
  z-index: 3;
}

.meta-links a {
  font-size: 1rem;
}


#intuit:hover:after {
    background: url(../../content/home/Intuit.png) no-repeat 0 0; /* no need for qoutes */
    display: block;
    position: fixed;
    top: 5rem;
    left: 8rem;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
}

#bayes:hover:after {
    background: url(../../content/home/Bayes.png) no-repeat 0 0;
    display: block;
    position: fixed;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
    /*opacity: 1;*/
    /*transition: opacity .5 ease-in-out;*/
}

#alation:hover:after {
    background: url(../../content/home/Alation.png) no-repeat 0 0;
    display: block;
    position: fixed;
    top: 20rem;
    left: 50rem;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
}

#gradescope:hover:after {
    background: url(../../content/home/gradescope.png) no-repeat 0 0;
    display: block;
    position: fixed;
    top: 7rem;
    left: 8rem;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
}

#jacobs:hover:after {
    background: url(../../content/home/Jacobs.png) no-repeat 0 0;
    display: block;
    position: fixed;
    top: 20rem;
    left: 7rem;
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
}

#raven:hover:after {
    background: url(../../content/home/Raven.png) no-repeat 0 0;
    display: block;
    position: fixed;
    top: 20rem;
    left: 60rem;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
}

#sep:hover:after {
    background: url(../../content/home/Diverge.png) no-repeat 0 0;
    display: block;
    position: fixed;
    top: 20rem;
    left: 7rem;
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
}

#tint:hover:after {
    background: url(../../content/home/Tint.png) no-repeat 0 0;
    display: block;
    position: fixed;
    top: 20rem;
    left: 60rem;
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 30%;
    pointer-events: none;
}

video {
  max-width:100%;
}

.teaser img:hover {
  opacity: 0.5;
}

.nav-prev {
  text-align: right;
}

.project.columns {
  padding-bottom: 1rem;
}

.clearing-assembled img:hover {
  cursor: pointer;
}

.navigation {
  width: 100%;
}

.footer {
  padding-top:5em;
  padding-bottom:10em;
}

.main .footer {
  display: none;
}
/*
.colophon {
  padding: 1rem;
}
*/
